# Core dependencies
requests==2.31.0
pandas==2.2.0
python-telegram-bot==20.7
python-dotenv==1.0.0
jdatetime==5.0.0
pytz==2024.1

# Telegram
telethon==1.35.0

# Visualization
plotly==5.18.0
kaleido==0.2.1
matplotlib==3.8.2
squarify==0.4.3
Pillow==10.2.0

# Utilities
numpy==1.26.3
persiantools==4.2.0
arabic-reshaper==3.0.0
python-bidi==0.6.7

# Google APIs
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.116.0